body{
    background-color: rgba(255, 195, 127, 0.884);
}

.estilotitulo {
    color: rgb(207, 127, 102);
    font-family:"DynaPuff", system-ui;
} 
ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.logo{
    width: 350px;
    height: auto;
}

.imgCatalogo {
    width: 250px;
    height: auto;
}


nav ul li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    
}
    
nav ul li {
    list-style: none;
    margin: 15px;
}

.bloque_texto_1{
    box-shadow: 5px 5px 5px grey;
    margin: 30px;

}

.bloque_texto_2{
    box-shadow: 5px 5px 5px grey;
    margin: 30px;
}
 
.foorter{
    margin: 30px;
}

.img_arbol{
    width: 300px;
    height: auto;

}

.bebe{
    width: 300px;
    height: auto;

}
.producto {
    box-shadow: 5px 5px 5px grey;
    margin: 30px;
    width: 230px;
    height: auto;

}

.bloque-prod-a{
    display: flex;
    flex-direction: row;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apto{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: hsl(0, 24%, 96%);
}
.bloque-titular{
    display: flex;
    flex-direction: row;
    justify-content:left;
}
h1{
    font-style:normal;
}